.page {
  min-height: 100vh;
  background: url('/light-bg.webp') center bottom/cover no-repeat;
}

.header {
  padding: 10px 0;
  border-bottom: 1px solid #828282;

  h1 {
    display: flex;
    gap: 16px;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.main {
  padding-top: 50px;
  padding-bottom: 50px;
}

@media (prefers-color-scheme: dark) {
  .page {
    background-image: url('/dark-bg.webp');
  }
}

